<!-------popup here ---------->
<!---------frame of add box menu ------->
<div id="divTopbarAddMenu">
    <div id="divTopbarAddMenuHead"></div>
    <div id="divTopbarAddMenuBody">
        <table>
            <tr>
                <td onclick="addNewBox()">Add box</td>
            </tr>
        </table>
    </div>

</div>

<!---------frame of main menu------->
<div id="divTopbarMainMenu">
    <div id="divTopbarMainMenuHead"></div>
    <div id="divTopbarMainMenuBody">
        &nbsp; &nbsp;
        <a>Signed in as </a>
        <a id="aTopbarUsername">Username</a>
        <br>
        <table>
            <tr>
                <td onclick="logout()">&nbsp; &nbsp;Logout</td>
            </tr>
        </table>
    </div>
</div>
