<!---------topbar block-------------->
<div id="divTopbar">
    <!--------topbar right while login ok --------------->
    <div id="divTopbarRight">
        <!---------topbar add box block---------->
        <div id="divTopbarRightAdd">
            <img id="imgTopbarAdd" src="/images/default/add.png" onclick="openTopbarAddMenu()">
            <div id="divDropAddMenu" onclick="openTopbarAddMenu1()">
                <!--------code for add box-------->
            </div>
        </div>
        <!---------topbar main menu block---------->
        <div id="divTopbarRightAvatar">
            <img id="imgTopbarAvatar" src="/images/default/avatar.png" onclick="openTopbarMainMenu()">
            <div id="divDropMainMenu" onclick="openTopbarMainMenu1()">
                <!--------code for main menu-------->
            </div>
        </div>
    </div>

    <!---------topbar show while dislogin----------->
    <div id="divTopbarRightDefault">
        <a onclick="openLoginPage()">Login</a> &nbsp; &nbsp;
        <a onclick="openRegistryPage()">Regestry</a>
    </div>
</div>