#divMainBody{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 90%;
    width: 100%;
}

#divBodyHead{
    float: left;
    position: relative;
    top: 15px;
    left: 50px;
    width: 20%;
}

#aUsername{
    font-size: 20px;
    font-weight: 200;
}

#aBoxname{
    font-size: 30px;
    font-weight: 200;
}

#divBodyHead > a:hover{
    color: blue;
    text-decoration: underline;
}

#divBodyHead > label {
    position: absolute;
    top: 6px;
    margin-left: 3px;
    width: 45px;
    height: 18px;   

    font-size: 16px;

    border: 1px solid black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; 
}


/* ---------body div------------------*/
#divBodyLeft{
    position: fixed;
    background-color: rgb(243, 241, 241);

    height: 80%;
    bottom: 0px;
    left: 0px;
    width: 20%;
    overflow-y: scroll;
}

#divBodyLeft > table {
  width: 100%;
  border: 0;
  padding: 15px;
}

/*---------------------*/

#divBodyRight{
    position: fixed;

    height: 80%;
    bottom: 0px;
    right: 0px;
    width: 80%;
}

/*-----------------*/
#divProfileTabs{
    float: right;
    top: 0px;
    height: 11%;
    width: 80%;
  }

  #divTab01 > a:hover{
    color: red;
}

#divTab02 > a:hover{
    color: red;
}

#divTab03 > a:hover{
      color: red;
  }
  
  /*--------------divTab01----------*/
  #divTab01{
    position: relative;
      height: 100%;
      width: 130px;
  }
  
  #aInfoTab{
    position: absolute;
  
    margin-top: 15%;
    margin-left: 0%;
  
    font-size: 20px;      
  }
  
  #cvUnderLine01{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 1px;
    background-color: red;
  }
  /*--------------divTab02----------*/
  #divTab02{
    position: absolute ;
      top: 0px;
      margin-left: 130px;
    
      height: 11%;
      width: 130px;
  }
  
  #aTableTab{
    position: absolute;
  
    margin-top: 15%;
    margin-left: 0%;
    
      font-size: 20px;   
      
  }
  
  #cvUnderLine02{
    position: absolute;
    display: none;
    bottom: 0%;
    width: 100%;
    height: 1px;
    background-color: red;
  }
  
  /*--------------divTab03----------*/
  #divTab03{
    position: absolute ;
      top: 0px;
      margin-left: 260px;
    
      height: 11%;
      width: 130px;
  }
  
  #aChartTab{
    position: absolute;
  
    margin-top: 15%;
    margin-left: 0%;
    
      font-size: 20px;   
      
  }
  
  #cvUnderLine03{
    position: absolute;
    display: none;
    bottom: 0%;
    width: 100%;
    height: 1px;
    background-color: red;
  }
  
  /*-------------------------------------*/
  #divTabInfo{
    padding: 10px;
  }

  /*--------------tab box info-------------*/
  #divInfoDescripton > label{
    font-weight: 200;
    font-size: 20px;
  }

  #divInfoDescripton{
    width: 60%;
    
    border: 1px solid rgb(179, 176, 176);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; 
  }

  /*-----------------*/

  #divInfoOpenFile > label{
    font-weight: 200;
    font-size: 20px;
  }

  #divInfoOpenFile{
    width: 60%;
    
    margin-top: 15px;
    border: 1px solid rgb(179, 176, 176);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; 
  }

  #txtBoxDescription{
    margin-top: 5px;
    height: 100px;
    width: 500px;
  }
  /*-----------tab new table---------------*/

  #divNewTable{
    display: none;
    position: absolute;

    top: 0%;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    overflow:scroll;
       
  }

 #tblNewTable{
   float: center;
   margin-top: 15px;
   padding: 5px;
   border: 1px solid rgb(2, 53, 53) ;
 } 

 #tblNewTable > tr, td{
     border: 1px solid rgb(2, 53, 53) ;
 }

 #divNewTableHead{
   margin-top: 1%;
   width: 260px;
 }

 #btnCreateTable{
   display: none;
 }



 /*---------div ner chart-------------*/
 #divNewChart{
  display: none;
  position: fixed;

  top: 20%;
  width: 100%;
  height: 80%;
  background-color: antiquewhite;
  overflow:scroll;

 }

 #divChartsList{
   float: left;
   height: 100%;
   width: 20%;
   left: 0px;
   bottom: 0px;
 }

 #btnShowCreateNewChart{
   display: none;

   height: 50px;
   width: 50px;

   margin-left: 40%;
   margin-top: 10px;

   border: 1px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; 

    background-color: rgb(47, 243, 233);
 }



/*-----------------*/
 
 #divChartOffer{
   float: right;
  height: 100%;
  width: 80%;
  right: 0px;
  bottom: 0px;
}

.classChartOfferStep{
  display: none;
  margin: auto;
  border: 1px solid grey;

  width: 50%;
  height: 200px;
}

.classChartOfferStep > *{
  margin-top: 15px;
}

#tblChoiceLabels{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}


#tblChoiceDataset{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

#cvChart{
  margin: auto;
  width: 80%;
  height: 80%;

}