<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <!-------public------------>
  <% include modules/header%>

    <!---------private-------------->

    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="/javascripts/client/index.js"></script>

</head>

<body>

  <div id="divCoverAll">
    <!---------topbar block-------------->
    <% include modules/topbar%>

      <!--------sidebar block--------------->
      <div id="divSidebar">
        <h1>side bar</h1>
      </div>


      <!-------------main div ----------->
      <div id="divMainBody">
        <h1>main body</h1>
      </div>

      <!-------popup here ---------->
      <% include modules/popups%>
        
  </div>
</body>

</html>