body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#divLogin{
  display: none;
  margin: auto;
  width: 280px;
}

#divLogin > table{
  margin: auto;
}
