<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <!-------public------------>
  <% include ../modules/header%>

    <!---------private-------------->
    <script src="https://unpkg.com/read-excel-file@4.x/bundle/read-excel-file.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/pages/box.css' />
    <script src="/javascripts/client/pages/box.js"></script>

</head>

<body>

  <div id="divCoverAll">
    <!---------topbar block-------------->
    <% include ../modules/topbar%>

      <!--------sidebar block--------------->
      <div id="divSidebar" style="width: 0px; display: none;">
        <h1>side bar</h1>
      </div>


      <!-------------main div ----------->
      <div id="divMainBody">
        <div id="divBodyHead">
          <a id="aUsername">username</a>
          <a>/</a>
          <a id="aBoxname">boxname</a>
          <label id="lblBoxStyle">Public</label>
        </div>

        <div id="divProfileTabs">
          <div id="divTab01">
            <a id="aInfoTab" onclick="openInfoTab()">Box info</a>

            <canvas id="cvUnderLine01"></canvas>
          </div>

          <div id="divTab02">
            <a id="aTableTab" onclick="openTableTab()">Table</a>

            <canvas id="cvUnderLine02"></canvas>
          </div>

          <div id="divTab03">
            <a id="aChartTab" onclick="openChartTab()">Chart</a>

            <canvas id="cvUnderLine03"></canvas>
          </div>
        </div>


        <div id="divBody">
          <div id="divBodyLeft">
          </div>

          <div id="divBodyRight">
            <!------------tab box info----------->
            <div id="divTabInfo">
              <div id="divInfoDescripton">
                <label>Box description</label><br>
                <textarea id="txtBoxDescription" placeholder="Box description" disabled></textarea><br>
                <button id="btnEditBoxDescription">Edit</button>
              </div>

              <div id="divInfoOpenFile">

                <label>Open excel file to insert new table</label><br><br>
                <input type="file" id="inReadExcelFile" onchange="readExcelFile()" /><br>

              </div>

            </div>

            <!--------------div table------------->
            <div id="divNewTable">
              <div id="divNewTableHead">
                <button id="btnCreateTable" onclick="createNewTable()">Create</button><br>
                <label>Table Name</label>
                <input type="text" id="inNewTableName" placeholder="Table Name">
              </div>
              <table id="tblNewTable">

              </table>
              
            </div>
          </div>


          <!---------div new chart------------>
          <div id="divNewChart">
            <div id="divChartsList">
              <button id="btnShowCreateNewChart" onclick="showCreateNewChar()">New</button>
              <div id="divChartList">

                <a>Charts List</a>
                <table id="tblChartsList"></table>
              </div>

            </div>
            <div id="divChartOffer">
              <div id="divFirstStep" class="classChartOfferStep">
                <h3>Step 1</h3>
                <label>Chart name</label><br>
                <input type="text" id="inChartName" placeholder="Chart name"><br>

                <label>Choise chart style</label><br>
                <select id="slChartType" name="ChartType">
                  <option value="doughnut">doughnut</option>
                  <option value="pie">Pie</option>
                  <option value="bar">Bar</option>
                  <option value="line">Line</option>
                </select><br>
                <button id="btnFistNext" onclick="firstNext()">Next</button>
              </div>

              <div id="divSecondStep" class="classChartOfferStep">
                <h3>Step 2</h3>
                <button id="btnFirstPreview" onclick="firstPreview()">Back</button>
                <button id="btnSecondNext" onclick="secondNext()">Next</button>
                <br><br>
                <label>Data from</label>
                <select id="slDataFrom" name="dataFrom" onchange="selectDataFrom()">
                  <option value="dfRow">Row</option>
                  <option value="dfColum">Colum</option>
                </select>
                
                <label>Select labels</label>
                <table id="tblChoiceLabels"></table>
              </div>

              <div id="divThirdStep" class="classChartOfferStep">
                <h3>Step 3</h3>
                <button id="btnSecondPreview" onclick="secondPreview()">Back</button>
                <button id="btnThirdNext" onclick="thirdNext()">Next</button><br><br>
                <div style="display: none;">
                  <label>Datasets comment</label>
                  <input type="text" id="inDatasetComment" placeholder="Datasets comment"><br>
                </div>

                <label>Select datasets</label>
                <table id="tblChoiceDataset"></table>
              </div>

              <div id="divFourthStep" class="classChartOfferStep">
                <h3>Step 4</h3>
                <button id="btnRenew" onclick="renew()">New</button>
                <button id="btnSaveChart" onclick="saveChart()">Save</button><br><br>
                <canvas id="cvChart"></canvas>
              </div>
            </div>
          </div>



        </div>

        <!-------popup here ---------->
        <% include ../modules/popups%>

      </div>
</body>

</html>