<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/client/global/autoLogin.js"></script>    
        <script src="/javascripts/client/global/cookie.js"></script>

        <script src="/javascripts/client/pages/registry.js"></script>
        <link rel='stylesheet' href='/stylesheets/pages/registry.css' />
        
      </head>
      
<body>
    <h1>Registry</h1>
    <div id="divRegistry">
        <table>
            <tr>
                <td><label>Username</label></td>
                <td><input id="inUsername" onkeyup="charPress()" placeholder="usernme"></td>
                <td><img id="imgValidUsname" src="/images/registry/invalid.png" ></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="password" id="inPassword" onkeyup="pswdPress()" placeholder="Password"></td>
                <td><img id="imgValidPassword" src="/images/registry/invalid.png" ></td>
            </tr>
            <tr>
                <td><label>Repassword</label></td>
                <td><input type="password" id="inRepsword" onkeyup="rpwdPress()" placeholder="Repassword"></td>
                <td><img id="imgValidRepsword" src="/images/registry/invalid.png" ></td>
            </tr>
            <tr>                
                <td colspan="3"><button id="btnRegistry" onclick="registry()">Registry</button></td>
                
            </tr>
        </table>
    </div>
</body>
</html>