<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/registry.css' />
    
        <script src="/socket.io/socket.io.js"></script> 
    
        <script src="/javascripts/client/cookie.js"></script>
        <script src="/javascripts/client/lib.js"></script>
        
        
      </head>
      
<body>
    <h1>User Page</h1>
    <button id="btnLogout" onclick="logout()">Logout</button>

    <script>
        function logout(){
            
            deleteCookie("jwtoken");
            deleteCookie("gruu-username");
            let aLogin = document.createElement('a');
            aLogin.setAttribute('href',"/");
            aLogin.click();
        }
    </script>
</body>
</html>